/* Gallery Section*/
.card{
    border-radius: 5px;
    border: none;
    background-color: transparent; /*f5f3ef*/
    /*box-shadow: 0 5px 10px #5e3613;*/
    
}

.card-header{
    background-color: transparent ;
}


.scroll {
    /*max-height: 425px;
    border-radius: 5px;
    */
    overflow-y: auto;
    
}

.content {
    /*display: none;*/
    overflow: hidden;
    background-color: transparent;
  }

/* changes spacing around gallery links */
.gallery-link{
    padding: 0 0 20px 0;
}

  .active {
    background-color: #F1F0F0;
    border-radius: 10px;
    padding: 0 24px;

}

/* changes gallery links appearance */ 
  .gl{
    flex-grow: 0;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight:400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 0px;
    text-align: left;
    color: #000;
    padding: 10px 20px;
  }

  .gl:hover{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    background-color: #F1F0F0;
    border-radius: 10px;
    
  }

  .line-container {
    position: relative;
  }
  
  .line-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #2D3559;
    margin-right: 5px;
    
  }
  
  .padding-text {
    padding-left: 3%; 
    padding-top: 5px; /* 10px if using h3 */
  }

  .padding-text2 {
    padding-left: 3%;
  }






  


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #F1F0F0;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;/*1px solid #000;*/
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    letter-spacing: 0.8px;
    transition: 0.4s;
    border-radius: 10px;
}

.active-a, .accordion:hover {
background-color: #e9e9e9;
}

.accordion:after {
content: '\002B';
color: #000;
font-weight: bold;
float: right;
margin-left: 5px;
}

.active-a:after {
content: "\2212";
}

.panel {
padding: 0 18px;
background-color: #ffffff;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}




/*  General Site Styles */
html {
    scroll-behavior: smooth;
} 



/* Typography */
h1{
    font-family: 'Helvetica Neue';
    font-size: 40px; /* 3rem = 3 times the root em size */
    /* line-height:1.5; */
    color:#000;
    font-weight: 400;
    letter-spacing: 4%
}

.fw{
    font-weight: 600;
}

h2{
    font-family: 'Helvetica Neue';
    font-size: 30px;
    font-weight: 400;
    color: #000;
    letter-spacing: 4%;
    padding: 0  0 10px 0;
    text-align: left;
    margin-bottom: 2.5%;
}

h3{
    font-family:'Helvetica Neue';
    font-weight: 400;
    padding: 0  0 15px 0;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000;
}

.lessLH{
    line-height:0;
}

h4{
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;
}


p{
    flex-grow: 0;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight:400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000;
}

.workSans{
    font-family: 'Work Sans';
}

.smaller-body-reg{
    flex-grow: 0;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000;
}

.smaller-body{
    flex-grow: 0;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 0px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000;
}

.smaller-bodyS{
    flex-grow: 0;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000;
}

.smaller-bodyW{
    flex-grow: 0;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: normal, 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #fff;
    padding: 5px 0 0 0;
}

.move-up{
    margin-top: 23px;
}

.nav-name-logo:hover{
    text-decoration: none;
}

.nav-name{
    flex-grow: 0;
    font-family:'Helvetica Neue';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 12px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000; 
}

.lighter-text{
    color: rgba(0, 0, 0, 0.5);
}

.insiGrey-text{
    font-family: 'Poppins','Avenir';
    font-size: 18px;
    color: #454B52;
    letter-spacing: 0.0125em;
    padding: 0 0 10px 0;
}

.insiGrey{
    font-family:'Helvetica Neue';
    font-size: 18px;
    color: #454B52;
    letter-spacing: 0.0125em;
    font-weight: 400;
}

/* Hero Section */
.hero{
    padding: 4% 0 10% 0;
}
.hero-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.lessSpace{
    margin-top: -125px;
}

.vamos{
    display: flex;
    justify-content: right;
}

.right{
    display: flex;
    justify-content: right;
}

.right:hover{
    text-decoration:none;
}

.zoom:hover{
    transition: transform .2s;
    transform: scale(1.2);
}

.material-symbols-sharp{
    margin-top: -10px;
}
.vamosScroll{
    color: #000;
}

.vamosScroll:hover{
    text-decoration: underline;
    color: #000;
}


.no-margin{
    margin: 2px;
}

.no-padding{
    padding: 0 0;
}

.no-space{
    padding: 0 0;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.centered{
    text-align: center;
}
.justify{
    text-align: justify;
}

.row2{
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.col-lg-9{
    padding-left: 0px;
    padding-right: 0px;
}
/* Navigation Bar */
#navigation{
    /* change top and bottom padding to 3% with 4 links navbar */
    padding: 0% 0% 0% 0%;
    /*text-align: center;*/
}

.container{
    padding: 3% 2%;
}

.more-space{
    line-height: 120%;

}


.navbar{
    padding: 4% 10% 2% 10%;
}
.nav-bar-link{
    padding:0 20px 0px 20px;
    color:#000;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    letter-spacing: 0.05em;
    position: relative; top: 5px;
    font-weight: 400;
}

/*circle gradient hover
.nav-bar-link:hover{
    text-decoration: none;
    color: #000;
    padding: 30px 20px 30px 20px;
    background-image: radial-gradient(circle at 50% 50%, #ffee96, rgba(255, 255, 255, 0) 67%);
}
*/

.nav-bar-link:hover{
    color: #000;
}


.centered{
    margin-left: auto;
    margin-right: auto;
}



/*
.navbar-brand img:hover{
    text-decoration: none;
    color: #000;
    padding: 30px 20px 30px 20px;
    background-image: radial-gradient(circle at 50% 50%, #ffee96, rgba(255, 255, 255, 0) 67%);
}
*/
.active-nav{
    color: rgba(0, 0, 0, 0.5);
}



.navbar-toggler{
    color: black;
    background-color: white;
}

.signature{
    transform: rotate(1deg);
}


/* Floating contact/social Icons */
.icons{
    top: 30%;
    right: 12px;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.icons ul{
    padding:initial;
}


.icons ul li{
    height:50px;
    width: 20px;
    list-style-type: none;
    padding-top:6px;
    margin-top: 5px;
    border-radius: 2.5px;
    color:#000;
    /* background: #93d598; brown color- #bf9e8b; 
    /*box-shadow: 0px 5px 10px rgba(0,0,0,.2);*/

}


.icons ul li:hover{
    color:#00000056;; ;
}



/* Home Page */

/* Hero Section */
#title{
    /* change top padding to 3% when have 4 link navbar */
    padding: 3% 10% 15% 10%;
    text-align: center;
    position: relative; top: 0px;
}

#title-gallery{
    padding: 5% 10% 4% 10%;
    text-align: center;
}


.down-arrow{
    text-decoration: none;
    color:black;
}

.down-arrow:hover{
    text-decoration: none;
    color: #e9c9a0ca;
}






/* Projects Section */
#projects{
    padding: 4% 10% 0 10%;
    text-align: left;
    background-color: #fff;
    position: relative; top: -60px;
}

/* .hover-blue {
    position: relative;
    display: inline-block;
}
  
  .hover-blue::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff50;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .hover-blue:hover::after {
    opacity: 1;
  }
*/
  .project-cards{
    border: 1px solid #000;
    border-radius: 20px;
}

.project-cards-effect:hover{
    transition: 0.2s ease;
    border-radius: 50px;
}

.inactive:hover{
    opacity:100%
}

.blackH:hover{
    color:#000;
}



.project-name{
    padding: 2% 0 0 0;
}

.projects-rows{
    padding: 0% 0 8% 0;
}

.material-symbols-outlined{
    font-size: 35px;

}

.projects-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.highlight{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.highlight::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 50%;
    background-color: yellow; /* change to desired color */
    z-index: -1;
}


.chip1 {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 6px;
    text-align: center;
    width: 156px;
    height: 36px;
    display: table-cell; /* added */
    vertical-align: middle; /* added */
  }


/*
.project-card:hover{
    text-decoration: none;
}

.project-card1{
    padding: 30px 30px 30px 30px;
}
.project-card2{
    padding: 30px 30px 30px 30px;
}
.project-card3{
    padding: 30px 30px 30px 30px;
}
.project-card4{
    padding: 30px 30px 30px 30px;
}
.project-card5{
    padding: 30px 30px 30px 30px;
}


.project-card1:hover{
    text-decoration: none;
    background-color:#cfddff;
}

.project-card2:hover{
    text-decoration: none;
    background-color:#dcffff;
}

.project-card3:hover{
    text-decoration: none;
    background-color:#ffcaff;
}

.project-card4:hover{
    text-decoration: none;
    background-color:#ffbc78;
}

.project-card5:hover{
    text-decoration: none;
    background-color:#66daf8;
}


.jbts:hover{
    background-color: #B4C9FF;
    border-radius: 10px;
    padding: 68px 100px 68px 100px;
}
*/




.p-decoration{
    color:#000;
    font-weight: 600;
    text-decoration: underline; 
}

.p-decoration:hover{
    color:#00000056;
    font-weight: 600;
    text-decoration: underline; 
}

/* Billboards Page */
#gallery{
    padding: 2% 10% 15% 10%;
    text-align: left;
    background-color: #fff;
}

 
/* Case Study Sections */
#project-title{
    padding: 3% 20% 1% 20%;
    text-align: left;
}

#project-details{
    padding: 7% 20% 7% 20%;
    text-align: left;
}

#project-image{
    padding: 0;
    text-align: center;
    margin: 0 auto;
}


#summary{
    padding: 7% 20% 7% 20%;
    text-align: left;
}
#problem{
    padding: 7% 20% 9% 20%;
    text-align: left;
}

#design-process{
    padding: 7% 20% 7% 20%;
    text-align: left;
}


#outcomes{
    padding:7% 5% 7% 20%;
    text-align: left;
}
#takeaways{
    padding:10% 5% 7% 20%;
    text-align: left;
}



#other-projects{
    padding:7% 5% 7% 20%;
    text-align: left;
}

.color-box {
    width: 75px;
    height: 75px;
    margin-right: 22px;
  }


/* JBTS Page Sections */

#mobile-redesign{
    padding: 7% 20% 10% 20%;
    text-align: left;
}

#empathizing{
    padding: 12% 5% 0% 20%;
    text-align: left;
}

#user-research{
    padding: 0% 5% 10% 20%;
    text-align: left;
}

#ideate{
    padding: 10% 5% 10% 20%;
    text-align: left;
}

#design-obj{
    padding:10% 5% 10% 20%;
    text-align: left;
}

#site-arch{
    padding: 10% 5% 10% 20%;
    text-align: left;
}

#wireframing{
    padding: 10% 5% 10% 20%;
    text-align: left;
}

#branding{
    padding: 10% 5% 10% 20%;
    text-align: left;
}

#desktop-redesign{
    padding: 10% 5% 10% 20%;;
    text-align: left;
}





/* INSI Page */


.bottom-padding{
    padding: 5% 0% 10% 0%;
}
.side-padding{
    padding: 0% 10% 0% 10%;
}
.side-padding2{
    padding: 7% 15%;
}


.move-up{
    position: relative; top: -20px;
}


.obj-vertical-space{
    padding: 0% 0% 6% 0%;
}


.INSI-motivation-pic{
    width:90%;
    height:90%;
}
.user-test-imgs{
    border-radius: 30px;
}


/* Testimonials Section */
.carousel-item{
    padding:6% 15%;
    width: 100%;
    text-align: center;
    background-color: #E7F5F5;
    border-radius: 30px;
}
.testimonial-image{
    width: 20%;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
}

#press{
    background-color: #fff;
    text-align: center;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px; /* 20px top, 20px left and right, 50px bottom */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}


/* MCC Page */


#day1{
    padding: 0% 2% 6% 12%;
    text-align: left;
}

#day2{
    padding: 0% 2% 6% 12%;
    text-align: left;
}

#day3{
    padding: 0% 2% 6% 12%;
    text-align: left;
}


/* INSI2 Page */
main {
    margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1);
    margin: 0 var(--space-xs);
  }
  
  main > * {
    margin-bottom: var(--space-md);
    margin-left: var(--space-md);
  }
  
  article > * + * {
    margin-top: var(--space);
  }
  
  .component {
    margin-top: 100px;
    position: relative;
    border: 1px solid var(--color-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
      0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
      0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);
  }
  
  .component .header,
  .component .footer {
    padding: var(--space-sm);
    text-align: left;
  }
  
  .component .header {
    border-bottom: inherit;
  }
  
  .component .footer {
    /*
    display: flex;
    justify-content: space-between; */
    border-top: inherit;
  }
  
  .component .content {
    padding: var(--space-sm);
    max-height: 450px;
    overflow-y: auto;
    color: var(--color-dark);
  }
  
  .empty-text {
    text-align: left;
  }


.gallery-pics{
    border: 1px solid #000;
    border-radius: 10px;
}

.jello-animation:hover{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: jello; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}


/* About Page */

#about-intro{
    /*padding: 9% 10% 12% 10%;*/
    /*padding: 4% 10% 15% 10%;*/
    padding: 3% 10% 10% 10%;
}

#about{
    padding: 7% 15%;
}

#about-end{
    padding: 7% 15% 11% 15%;
}


.about-rows{
    padding: 0 0 3% 0;
}



.about-me-pics{
    border-radius: 20px;
    border: 1px solid #000;

}

.about-pics{
    border-radius: 20px;
    border: 1px solid #000;

}


.about-me-pics:hover{
    transform: rotate(3deg);
}




/* cta */

#cta{
    background-color: #000;
    padding: 4% 7.8% 6% 7.8%;
    text-align: left;
    border-radius: 20px 20px 0 0;
    margin: 0 var(--space);
}



/* Footer Section */

  footer {
    background-color: #000;
    padding: 4% 7.8% 3% 7.8%;
    font-family: 'Helvetica Neue';
    margin: 0 var(--space);
  }
  
  hr {
    border: none;
    border-top: 1px solid #fff;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0px;
    padding: 20px 0px 0 0px;
    box-sizing: border-box;
  }
  
  .left {
    flex: 1 0 auto;
    text-align: left;
  }
  
  .left p{
    color: #ffffff;
    margin: 0;
  }
  
  .right p{
    color: #ffffff;
    margin: 0;
  }
  
  
  .right {
    flex: 1 0 auto;
    text-align: right;
  }
  
  .white-textp{
    flex-grow: 0;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #fff;
  }
  
  .white-textp:hover{
    text-decoration: none;
    color: #fff;
  }

  .white-texth2{
    font-family: 'Helvetica Neue';
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 4%;
    padding: 0  0 10px 0;
    text-align: left;
  }
  
  .footer-padding{
    padding: 0 10px 0 10px;
    color:#fff;
  }
  
  .white-text{
    color:#fff;
  }
  
  .white-text:hover{
    color:#fff;
  }
  .decorColor:hover{
    color: #fff;
  }
  .logo-footer {
    width: 20px;
    padding: 0px 5px 5px 0;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
      margin: 0; /* used to be -20px*/
      padding: 20px 0 0 0; /* used to be padding: 20px 20px 0 20px;*/
    }
  
    .left, .right {
      text-align: center;
    }
  }


  

  



  
  
  
  
  


 /*Media Query Section */

/* these conditions are true only if screen size is <= 767px */
 @media (max-width: 600px){  
    #title{
        text-align: center;
    }
    h1{
        font-size: 20px; 
    }
    h2{
        font-size: 18px; 
    }
    h3{
        font-size: 18px; 
    }
    h4{
        font-size: 16px; 
    }
    h5{
        font-size: 16px; 
    }
    p{
        font-size: 15px;
    }
    .nav-bar-link{
        font-size: 15px;
    }
    .p-footer1{
        font-size: 15px;
    }
    .p-footer2{
        font-size: 15px;
    }
    .p-footer3{
        font-size: 14px;
    }
    .p-footer4{
        font-size: 14px;
    }

}


/* if greater than 601..*/
@media (min-width: 601px){  
    .nav-bar-link{
        font-size: 18px;
    }
    .p-footer1{
        font-size: 18px;
    }
    .p-footer2{
        font-size: 18px;
    }
    .p-footer3{
        font-size: 16px;
    }
    .p-footer4{
        font-size: 16px;
    }
}


.justify2{
    text-align: justify;

}
.shrinkIMG{
    width:80%;
}

/* Home Page Responsiveness */ 
@media (max-width:800px){ 
    .INSi-enlarge-img{
        width: 60%;
    }
    .justify{
        text-align: left;
    }
    .justify2{
        text-align: center;
    }
}

@media (max-width:600px){ 
    #title{
        padding: 8% 0% 12% 0%;
        text-align: center;
    }
    .icons{
        top: 35%;
        right: 10px;
        transform: translateY(-50%);
        position: fixed;
        z-index: 100;
    }
    .padding{
        padding: 0% 10%;
    }
    .smaller-text{
        font-size: 15px;
    }
    .smaller-body{
        font-size: 14px;
    }

    .nav-name{
        flex-grow: 0;
        font-family: 'Helvetica Neue';
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 8px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #000; 
    }
    .p-footer4{
        text-align: center;
    }



    /*
    #about-1{
        text-align: left;
    }
    #about{
        text-align: left;
    }
    */

}


@media(max-width:992px){
    .hidden-mobile2{
        display: none;
    }
}

@media(min-width:993px){
    .hidden-large-screen2{
        display: none;
    }
}


@media(min-width:505px){
    .hidden-large-screen{
        display: none;
    }
}

@media(min-width:769px){
    .shrinkIMG{
        width:30%;
    }
}

@media(max-width:504px){
    #about{
        padding: 4% 10%;
    }
    #about-1{
        padding: 4% 10% 4% 10%;
    }
    .card{
        padding: 20px 10px;
    }
    .hidden-mobile{
        display: none;
    }
    
    #project-title{
        padding: 0% 8%;
        text-align: left;
    }
    
    #project-details{
        padding: 0% 11% 4% 11%;
        text-align: left;
    }

    #intro{
        padding: 10% 10% 6% 10%;
        text-align: left;
    }

    #motivation{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #problem{
        padding: 0% 10% 4% 10%;
        text-align: left;
        margin: 0px;
    }

    #our-solution{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #our-process{
        padding: 0% 10% 4% 10%;
    }

    #empathize{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #define{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #ideate{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #lofi-prototype{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #lofi-testing{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }
    .move-up{
        position: relative; top: -20px;
    }
    #hifi-prototype{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #hifi-testing{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #reflection{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #wishes{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }

    #other-projects{
        padding: 0% 10% 4% 10%;
        text-align: left;
    }
    .social-icons{
        margin: 20px 10px;
    }

    }

@media (min-width:1250px){ 
    /*
    #navigation{
        padding: 0% 0% 0% 0%;
    }
    */
    #title{
        text-align: center;
    }


}





/* Hover on Mobile Phone
@media (max-width: 1038px){  /* if less than 1038px...
    #title{
        position: relative; top: 0px;
    }
}

@media (min-width: 767px){  /* if greater than 767px..
    #title{
        position: relative; top: -50px;
    }
}
*/

/*
@media(hover){
    .figure {
        position: relative;
        /*width: 360px;  can be omitted for a regular non-lazy image 
        max-width: 60%;
       
      }
      .figure img.image-hover {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: contain;
        opacity: 0;
        transition: opacity .2s;
    }
    .figure:hover img.image-hover {
        opacity: 1;
    }
    
    .image-hover{
        background-color: white;
    }

}
*/

/* Side Nav Bar */ 
.icon-spacing{
    padding: 3px 10px;
}
.icon-spacing:hover{
    text-decoration: none;
}
.footer{
    margin-right: auto;
    margin-left: auto;
}
.header{
    margin-right: auto;
    margin-left: auto;
}
.black-color{
    color: #000;
}
.black-color:hover{
    color: #000;
}

.icons-cs:hover{
    color: #00000050;
}

:root {
    --space: 2rem;
    --space-xs: calc(var(--space) / 3);
    --space-sm: calc(var(--space) / 2);
    --space-md: calc(var(--space) * 2);
  
    --color-primary: lightgray;
    --radius: 0.125rem;
  }
  
  /* Here are the base styles for the main layout and sticky component */
  * {
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .article {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 40%;
  }
  
  .sidebar {
    --offset: var(--space);
    flex-grow: 1;
    /* Changes sidebar width */
    flex-basis: 175px;
    align-self: start;
    position: sticky;
    top: var(--offset);
  }
  
  .component {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .component .content {
    max-height: 500px;
    overflow-y: auto;
  }
  
  .sidebar .component {
    max-height: calc(100vh - var(--offset) * 2);
  }
  
  /*
   * Other styles
  **/
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  

  
  [hidden] {
    display: none;
  }
  


/* body:not(#project-image) {
    margin: 0 auto;
    padding: 0 var(--space-sm);
  } 
*/ 
  /* body{
    margin: 0 auto;
    padding: 0;
    /* max-width: 1400px; 
  } */

  .phone-container {
    position: relative;
    width: 320px; /* Adjust the width as needed */
    height: 514px; /* Adjust the height as needed */
    border: 2px solid black; /* Optional: Add a border to simulate the phone frame */
    overflow: hidden; /* Optional: Hide any overflowing content */
    border-radius: 40px;
    box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.3),
    0px 0px 0px 8px #000000, /* Update the border color to black */
    0px 0px 0px 10px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5),
    inset 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
}

.phone-container:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-color: #111111; /* Set the background color to a darker shade of black */
  transform: rotate(-45deg);
  z-index: -1;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.3),
    inset 0px 0px 0px 8px rgba(255, 255, 255, 0.3),
    inset 0px 0px 0px 12px rgba(255, 255, 255, 0.2);
}
  
  .phone-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
    
  }
  

  
  
  /* Until flexbox gap is supported in all modern browsers, we use the negative margin trick to create space between the children elements */
  main {
    /* margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1); */
  }
  
  main > * {
    margin-bottom: var(--space-md);
    margin-left: var(--space-md);
  }
  
  article > * + * {
    margin-top: var(--space);
  }
  
  .component {
    position: relative;
    border-radius: 20px;
    /* border: 1px solid var(--color-primary); */
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
      0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
      0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);*/
   
  }
  
  .component .header,
  .component .footer {
    padding: var(--space-sm);
    text-align: left;
  }
  
  .component .header {
    border-bottom: inherit;
  }
  
  .component .footer {
    /*
    display: flex;
    justify-content: space-between; */
    border-top: inherit;
  }
  
  .component .content {
    padding: var(--space-sm);
    /* Changes sidebar height */
    max-height: 275px;
    overflow-y: auto;
    color: var(--color-dark);
  }
  
  
  .button {
    appearance: none;
    padding: var(--space-xs) var(--space-sm);
    font-size: 1rem;
    color: white;
    background-color: var(--color-light);
    border: 1px solid var(--color-mid);
    cursor: pointer;
    border-radius: var(--radius);
    box-shadow: rgba(black, 0.1) 4px 4px;
  }

  
