/*  general site styles */
html {
    scroll-behavior: smooth;
  }
  

/*  imported font */
@font-face {
    font-family:'skywerdregular';
    src: url('font/cloudward-webfont.woff2') format('woff2'),
         url('font/cloudward-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sticky{
    height: 20rem;
    width: 9rem;
    /* left-align the text */
    display: flex;
    align-items: left;
    justify-content: left;
    flex-grow: 1;
    flex-basis: 300px;
    position: sticky;
    top: 1rem;
    
    
}
.INSI-motivation-pic{
    width:90%;
    height:90%;
}
.user-test-imgs{
    border-radius: 30px;
}

/* Testimonials Section */
.carousel-item{
    padding:6% 15%;
    width: 70%;
    text-align: center;
    background-color: #e7f5f5b2;
    border-radius: 30px;
}
.testimonial-image{
    width: 20%;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
}

#press{
    background-color: #fff;
    text-align: center;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px; /* 20px top, 20px left and right, 50px bottom */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

#project-title{
    padding: 2% 15%;
    text-align: left;
}

#project-quick-details{
    padding: 4% 0% 4% 6%;
    text-align: justify;
}

#project-details{
    padding: 4% 15%;
    text-align: justify;
}
#about-1{
    padding: 0% 15% 4% 15%;
    text-align: justify;
    
}
#about{
    padding: 7% 15%;
    text-align: justify;
    
}
.about-me-pic{
    width: 100%;
    height: 100%;
    text-align: right;
    
}
.about-me-pics{
    width: 100%;
    height: 100%;
    padding: 0% 0% 20% 0%;
}

.right{
    text-align: right;
}
.left{
    text-align: left;
}
.centered{
    text-align: center;
}
.justify{
    text-align: justify;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap'); 

#grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 90px;
    row-gap: 15px;
    text-align: left;
    padding: 0 0% 0% 0%;
}

#grid2{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20%;
    text-align: justify;
    padding: 8% 3% 3% 3%;
}



.insi-title-image{
    width: 100%;
    height: 90%;
    z-index:-5;
    position: relative;
}
.test:hover{
    text-decoration: none;  
}

#title{
    padding: 0% 5%;
    text-align: center;
    position: relative; top: -60px;
}


#navigation{
    background-color: #fff;
    padding: 3% 5%;
   
   
}


.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: 'Poppins';
    
    font-size: 50px; /* 3rem = 3 times the root em size */
    line-height:1.5;
    color:#000;
    letter-spacing: 0.025em;
    padding: 0  0 10px 0;
}
.header-one-half{
    font-weight: 400;
    font-size: 35px;
    line-height:1.5;
    color:#000;
    letter-spacing: 0.025em;
    padding: 0  0 10px 0;

}

h2{
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.025em;
    padding: 0  0 10px 0;
}
.header-two-light{
    font-weight: 300;
    font-size: 45px;
    line-height:1.5;
    color:#000;
    letter-spacing: 0.025em;
    padding: 0  0 10px 0;

}

h3{
    font-family: 'Poppins';
    font-weight: 400;
    padding: 0  0 15px 0;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
}

h4{
    font-family: 'Poppins';
    padding: 20px  0 10px 0;
    font-size: 24px;
    /*letter-spacing: 0.05em;*/
    letter-spacing: 0.025em;
    color: #0000006b;
}
h5{
    font-family: 'Poppins';
    position: relative; top: -20px;
    font-size: 24px;
    /*letter-spacing: 0.05em;*/
    letter-spacing: 0.025em;
    color: #0000006b;
}

p{
    /*font-family: 'Swis721 BT';*/
    font-family: 'Poppins';
    font-size: 18px;
    color: #29282a;
    letter-spacing: 0.0125em;
}

/* left aligned Navigation Bar */

.navbar-header.navbar-right.pull-right {
    margin-right: 15px;
}
  
.navbar-right > li {
    float: left;
}
.nav-bar-link{
    padding:10px 10px 10px 5px;
    color:#000;
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 0.05em;
}

.nav-bar-link:hover{
    padding:10px 5px 10px 5px;
    background-color: #8cc6dd;
    border-radius: 10px;
    color:#000;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 22px;
    letter-spacing: 0.05em;
}
.navbar-brand2 img{
    transform: rotate(1deg);
    text-align: left;
    width: 50%;
    height:50%;

}


/* Centered Navigation Bar */
.nav-link{
    padding:10px 10px 10px 5px;
    color:#000;
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 0.05em;
}
  

.nav-link:hover{
    padding:10px 5px 10px 5px;
    background-color: #8cc6dd;
    border-radius: 10px;
    color:#000;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 22px;
    letter-spacing: 0.05em;
}



.navbar-brand img{
    transform: rotate(1deg);
    text-align: center;

}
.navbar-brand-img{
    transform: rotate(1deg);

}
.navbar-toggler{
    color: white;
    width: 55px;
    height:40px;
    background-color: white;

    
}
.tiny{
    width:30px;
    height:30px;
}
.d-lg-block{
    padding: 0 0px 0 50px;
}



/* Floating contact/social Icons */
.icons{
    top: 25%;
    right: 0px;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.icons ul{
    padding:initial;
}



.card-img-top {
    object-fit: contain;
    

}

.icons ul li{
    height:40px;
    width: 40px;
    list-style-type: none;
    padding-top:6px;
    margin-top: 5px;
    border-radius: 2.5px;
    color:#fff;
    background: #000;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

}

.icons ul li:hover{
    color:#8cc6dd;
}

/* Title Section */

/*  Rollover image styles  */
.figure {
    position: relative;
    /*width: 360px;  can be omitted for a regular non-lazy image */
    max-width: 60%;
   
  }
  .figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}
.figure:hover img.image-hover {
    opacity: 1;
}

.image-hover{
    background-color: white;
}


/* Lottie Section */
.lottie{
    /* padding: 100px; to take up more of screen
    padding: 5% 15% 0% 15%;
    text-align: left;
    */
    color:#000;
    text-decoration: none;

}
.lottie:hover{
    color:#8cc6dd;
}

/* Projects Section */
#projects{
/* padding: 100px; to take up more of screen*/
    padding: 4% 15%;
    text-align: left;
    background-color: #fff;
    position: relative; top: -60px;
}

.projects-header{
   color: #000;
}

.projects-column{
   padding: 3% 2%;
}




/* Footer Section*/
#footer{
    padding: 0% 15% 0% 15%;
    text-align: center;
    background-color: #fff;
    font-family: 'Poppins';
}

.logo-footer{
    width: 20px;
    padding: 0 0 5px 0;
}

/*
.emph{
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color:#000;
    font-size: 18px;
}
.emph:hover{
    font-size: 30px;
}
*/

.social-icons{
    margin: 20px 2.5px;
}

.p-footer1{
    font-family: 'Poppins';
    color:#000;
    font-size: 18px;
}
.p-footer2{
    color:#000;
    font-family: 'Poppins';
    font-size: 18px;
}
.p-footer3{
    font-family: 'Poppins';
    color:rgb(0, 0, 0);
    font-size: 16px;
    padding:20px 0px 10px;
}
.p-footer4{
    font-family: 'Poppins';
    color:rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: left;
    padding:20px 0px 15px;
}

.p-footer1:hover{
    color:#000;
    text-decoration: none;
}
.p-footer2:hover{
    color:#8cc6dd;
    text-decoration: none;
}


 /*Media Query Section -convention is to have all the media queries at the bottom of the page */

 @media (max-width: 767px){  /* these conditions  are true only if screen size is <= 767px */
    /*
    #title{
        text-align: center;
    }
    */
    h1{
        font-size: 40px; 
    }
    h2{
        font-size: 22px; 
    }
    h3{
        font-size: 20px; 
    }
    h4{
        font-size: 18px; 
    }
    h4{
        font-size: 18px; 
    }
    p{
        font-size: 15px;
    }
    .nav-bar-link{
        font-size: 15px;
    }
    .p-footer1{
        font-size: 15px;
    }
    .p-footer2{
        font-size: 15px;
    }
    .p-footer3{
        font-size: 14px;
    }
    .p-footer4{
        font-size: 14px;
    }

}

@media (min-width: 766px){  /* if greater than 766..*/
    .nav-bar-link{
        font-size: 18px;
    }
    .p-footer1{
        font-size: 18px;
    }
    .p-footer2{
        font-size: 18px;
    }
    .p-footer3{
        font-size: 16px;
    }
    .p-footer4{
        font-size: 16px;
    }
}

/* logo size is bigger when the size is larger than 767px */
@media(min-width:767px){ 
    .navbar-brand img{
        width: 50%;
        height: 90%;
    }
}



@media (max-width:766px){ 
    .navbar-brand img{
        width:135px;
        height: 60px;
        margin-right: 0;
    }
    

}

/* INSI Page 2 */

.icon-spacing{
    padding: 2px 10px;
}
.icon-spacing:hover{
    text-decoration: none;
}
.footer{
    margin-right: auto;
    margin-left: auto;
}
.header{
    margin-right: auto;
    margin-left: auto;
}
.black-color{
    color: #000;
}
.black-color:hover{
    color: #e9c9a0ca;
}


/*
@media (max-width: 1038px){  
    #title{
        position: relative; top: 0px;
    }
}

@media (min-width: 767px){  
    #title{
        position: relative; top: -50px;
    }
}
*/





:root {
    --space: 2rem;
    --space-xs: calc(var(--space) / 3);
    --space-sm: calc(var(--space) / 2);
    --space-md: calc(var(--space) * 2);
  
    --color-primary: lightgray;
    --color-accent: whitesmoke;
    --color-dark: black;
    --color-mid: gray;
    --color-light: white;
    --color-highlight: dodgerblue;
  
    --radius: 0.125rem;
  }
  
  /* Here are the base styles for the main layout and sticky component */
  * {
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .article {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 40%;
  }
  
  .sidebar {
    --offset: var(--space);
    flex-grow: 1;
    flex-basis: 200px;
    align-self: start;
    position: sticky;
    top: var(--offset);
  }
  
  .component {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .component .content {
    max-height: 500px;
    overflow-y: auto;
  }
  
  .sidebar .component {
    max-height: calc(100vh - var(--offset) * 2);
  }
  
  /*
   * Other styles
  **/
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  

  
  [hidden] {
    display: none;
  }
  
  body {
    margin: 0 auto;
    padding: 0 var(--space);
    max-width: 1400px;
  }

  
  
  /* Until flexbox gap is supported in all modern browsers, we use the negative margin trick to create space between the children elements */
  main {
    margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1);
  }
  
  main > * {
    margin-bottom: var(--space-md);
    margin-left: var(--space-md);
  }
  
  article > * + * {
    margin-top: var(--space);
  }
  
  .component {
    position: relative;
    border: 1px solid var(--color-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
      0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
      0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);
  }
  
  .component .header,
  .component .footer {
    padding: var(--space-sm);
    text-align: left;
  }
  
  .component .header {
    border-bottom: inherit;
  }
  
  .component .footer {
    /*
    display: flex;
    justify-content: space-between; */
    border-top: inherit;
  }
  
  .component .content {
    padding: var(--space-sm);
    max-height: 500px;
    overflow-y: auto;
    color: var(--color-dark);
  }
  
  .empty-text {
    text-align: left;
  }
  
  
  
  
  .button {
    appearance: none;
    padding: var(--space-xs) var(--space-sm);
    font-size: 1rem;
    color: white;
    background-color: var(--color-light);
    border: 1px solid var(--color-mid);
    cursor: pointer;
    border-radius: var(--radius);
    box-shadow: rgba(black, 0.1) 4px 4px;
  }

  
